@tailwind base;
@tailwind components;
@tailwind utilities;


.conversation-item .avatar.avatar-online::before,
.conversation-item .avatar.avatar-offline::before {
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
}
